.catalog-button-container{
    display:flex;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 30px;
}

#navigate-home{
    padding: 10px;
    border-radius: 10px;
    color:whitesmoke;
    background-color: #791923;
    border-color: #4B5368;
}