@import url('./../../components/Layout/styles.desktop.css');

h1{
    text-align: center;
}

th {
    text-align: center;
}

#header-row > th:nth-child(2), #filter > span > input{
    max-width: 50%;
}

