.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
}

.header-image{
    margin-left: 40px;
}

.header-links-container{
    display: flex;
    justify-content: center;
}

.header-link{
    margin: 10px;
    text-decoration:none;
    color: black;
}

.header-avatar-container{
    margin-right: 40px;
}

