.table-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

.filter-container{
    display:flex;
    justify-content:center;
    max-height: 100px;
}

table{
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
}

thead {
    background-color: darkred;
    color:aliceblue;    
}

td, th{
    min-width: 100px;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 12px;
}

tr{
    min-height:50px;
}

table tr:hover {background-color: #ddd;}

#global-filter {
    max-height: 50px; 
    min-width: 80%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}




