.table-container{
    display:flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 1px solid gray;
    border-radius: 10px;
    width: 80%;
}

thead {
    background-color: darkred;
    color:aliceblue;    
}

td, th{
    min-width: 100px;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 12px;
}

tr{
    min-height:50px;
}




